<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Informasi Umum Gunung Merapi | Geologi UI</title>
  <!-- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@200;400;700&display=swap" rel="stylesheet">
  <!-- CSS -->
  <link rel="stylesheet" href="../static/css/info.css">
</head>

<body>
  <section id="header">
    <nav id="main-navbar" class="navbar navbar-expand-md navbar-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="../index.html"><img src="../static/assets/ui-navbar.png" class="navbar-brand" alt=""></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarNav">
          <ul class="navbar-nav mb-auto mt-auto ms-auto">
            <li class="nav-item">
              <a class="nav-link expand" href="info.html">Info</a>
            </li>
            <li class="nav-item">
              <a class="nav-link expand" href="sejarah.html">Sejarah</a>
            </li>
            <li class="nav-item">
              <a class="nav-link expand" href="panduan.html">Panduan Bencana</a>
            </li>
            <li class="nav-item">
              <a class="nav-link expand" href="tim.html">Tim Kami</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="header-title">
      <h1 class="title text-dark">Informasi Umum dan Karakteristik Gunung Merapi</h1>
    </div>
  </section>
  <section id="content">
    <div class="container-fluid content-info">
      <img src="../static/assets/info-img.png" alt="" class="info-img">
      <p class="img-label">Morfologi Gunung Merapi (Kiri). Letusan Gunung Berapi (Kanan)
      </p>
      <p>Gunung Merapi merupakan salah satu gunung api yang saat ini masih aktif di Indonesia. Gunung Merapi terletak pada 4 kabupaten yang berbeda, yaitu Kabupaten Sleman Provinsi Daerah Istimewa Yogyakarta, Kabupaten Magelang, Kabupaten Boyolali,
        dan Kabupaten Klaten Provinsi Jawa Tengah. Gunung Merapi memiliki koordinat atau posisi geografi pada 7° 32’30” LS dan 110° 26’30” BT. Jika dilihat berdasarkan kondisi geologinya atau kondisi tektoniknya, Gunung Merapi terletak pada zona
        subduksi yaitu penujaman lempeng Indo-Australia kebawah Lempeng Eurasia yang mengontrol atau menghasilkan sabuk pegunungan sepanjang Sumatera, Jawa, Bali dan Sunda Kecil. <br><br>Letusan Gunung Merapi bersifat eksplosif yang disertai oleh
        awan panas. Gunung Merapi memiliki bentuk kerucut berkomposisi magma basaltik andesitik dengan kandungan silika (SiO2) 52% - 56%. Gunung Merapi memiliki morfologi pada puncaknya yaitu kawah berbentuk tapal kuda yang tengahnya tumbuh suatu
        kubah lava. Terbentuknya kubah lava ini akibat dari adanya magma yang keluar ke permukaan ditengah kawah aktif disekitaran puncaknya. Lava baru ini juga mengakibatkan penggerusan lava lama yang menutup aliran lava sehingga terjadi guguran
        lava. Lava pada permukaan ini membentuk suatu kubah yang akan membesar.
      </p>
    </div>
  </section>
  <footer id="footer">
    <div class="logo">
      <img src="../static/assets/ui-logo.svg" alt="" class="footer-logo">
    </div>
    <ul class="list-inline">
      <button class="btn footer-btn" type="button" role="button" onclick="location.href='info.html';">Info</button>
      <p class="list-inline-item"> |</p>
      <button class="btn footer-btn" type="button" role="button" onclick="location.href='sejarah.html';">Sejarah</button>
      <p class="list-inline-item"> |</p>
      <button class="btn footer-btn" type="button" role="button" onclick="location.href='panduan.html';">Panduan Bencana</button>
      <p class="list-inline-item"> |</p>
      <button class="btn footer-btn" type="button" role="button" onclick="location.href='tim.html';">Tim Kami</button>
    </ul>
    <hr>

    <p style="margin-bottom:10px;">© FMIPA Universitas Indonesia 2021</p>

  </footer>

</body>

</html>
