<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Panduan Bencana Gunung Merapi | Geologi UI</title>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@200;400;700&display=swap" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" href="../static/css/info.css">
  </head>

  <body>
    <section id="header">
      <nav id="main-navbar" class="navbar navbar-expand-md navbar-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="../index.html"><img src="../static/assets/ui-navbar.png" class="navbar-brand" alt=""></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse " id="navbarNav">
            <ul class="navbar-nav mb-auto mt-auto ms-auto">
              <li class="nav-item">
                <a class="nav-link expand" href="info.html">Info</a>
              </li>
              <li class="nav-item">
                <a class="nav-link expand" href="sejarah.html">Sejarah</a>
              </li>
              <li class="nav-item">
                <a class="nav-link expand" href="panduan.html">Panduan Bencana</a>
              </li>
              <li class="nav-item">
                <a class="nav-link expand" href="tim.html">Tim Kami</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <div class="header-title">
        <h1 class="title text-dark">Kawasan Rawan Bencana dan Jalur Evakuasi</h1>
      </div>
    </section>
    <section id="content">
      <div class="container-fluid content-info">
        <div class="row">
          <div class="col-lg-6">
            <img src="../static/assets/krb.png" alt="" class="krb-img">
            <p class="img-label">Peta Pembagian KRB Gunung  Merapi
            </p>
          </div>
          <div class="col-lg-6">
            <img src="../static/assets/krb2.png" alt="" class="krb-img">
            <p class="img-label">Peta Evakuasi dan Pembagian KRB Gunung  Merapi
            </p>
          </div>
        </div>

        <ul>
          <li><h2>Kawasan Rawan Bencana</h2></li>
          <ul>
            <li><p><strong>KRB I :</strong> Rawan terhadap lahar/banjir dan kemungkinan dapat terkena perluasan awan panas. Apabila erupsinya membesar, maka kawasan ini berpotensi tertimpa hujan abu dan lontaran batu (pijar).</p></li>
            <li><p><strong>KRB II :</strong> Berpotensi terlanda aliran awanpanas, gas beracun, guguran batu (pijar) dan aliran lahar. Batas Kawasan Rawan Bencana II ditentukan berdasarkaan sejarah kegiatan lebih tua dari 100 tahun, dengan indeks letusan (VEI 3-4), baik untuk bahaya aliran massa ataupun bahaya material lontaran batu (pijar).</p></li>
            <li><p><strong>KRB III :</strong> Sering terlanda awanpanas, aliran lava, guguran batu (pijar), gas racun dan lontaran batu (pijar) hingga radius 2 km. Oleh karena tingkat kerawanannya tinggi, Kawasan Rawan Bencana III tidak direkomendasikan sebagai hunian tetap.</p></li>
          </ul>
        </ul>
        <img src="../static/assets/evac.png" alt="" class="info-img">
        <p class="img-label">Peta Jalur Evakuasi Gunung  Merapi (Sumber: Dicky Setya Adi W, Kusumastuti, Isti Andini, 2016. “Kelayakan Sistem Evakuasi Kawasan Rawan Bencana Letusan Gunung Merapi di Kabupaten Sleman” di dalam Arsitektura, Vol. 14, No.1, April 2016. Surakarta:  Universitas Sebalas Maret)
        </p>
        <ul>
          <li><h2>Jalur Evakuasi</h2></li>
          <p>Menurut Baxter et al (1998), Evakuasi merupakan salah satu cara paling efektif untuk mengurangi jumlah korban letusan Gunungapi. Evakuasi juga harus memiliki perencanaan dan system yang baik agar tidak menyebabkan konsekuensi negative. Sistem Evakuasi Letusan Gunung Merapi di Kabupaten Sleman mengimplementasikan konsep dari system Evakuasi Ema (2005) dan Blong (1984) yang dibagi menjadi 5 Komponen, yaitu:
          </p>
          <ol>
            <li><p>Early warning system</p></li>
            <li><p>Titik Kumpul</p></li>
            <li><p>Jalur Evakuasi</p></li>
            <li><p>Rute Evakuasi, komunikasi, dan transportasi</p></li>
            <li><p>Penampungan atau barak pengungsian</p></li>
          </ol>
          <p>Jalur Evakuasi warga KRB (Kawasan Rawan Bencana) Gunung Merapi dibatasi sektor-sektornya oleh kehadiran sungai karena sungai dapat berbahaya mengalirkan lahar dingin. Peta Jalur Evakuasi dibawah ini merupakan jalur-jalur yang digunakan untuk menghubungkan desa-desa yang terancam (39 titik) menuju penampungan atau barak pengungsian (18 titik).</p>
        </ul>

      </div>
    </section>
    <footer id="footer">
      <div class="logo">
        <img src="../static/assets/ui-logo.svg" alt="" class="footer-logo">
      </div>
      <ul class="list-inline">
        <button class="btn footer-btn" type="button" role="button" onclick="location.href='info.html';">Info</button>
        <p class="list-inline-item"> |</p>
        <button class="btn footer-btn" type="button" role="button" onclick="location.href='sejarah.html';">Sejarah</button>
        <p class="list-inline-item"> |</p>
        <button class="btn footer-btn" type="button" role="button" onclick="location.href='panduan.html';">Panduan Bencana</button>
        <p class="list-inline-item"> |</p>
        <button class="btn footer-btn" type="button" role="button" onclick="location.href='tim.html';">Tim Kami</button>
      </ul>
      <hr>

      <p style="margin-bottom:10px;">© FMIPA Universitas Indonesia 2021</p>

    </footer>

  </body>

</html>
