<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sejarah Letusan Gunung Merapi | Geologi UI</title>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@200;400;700&display=swap" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" href="../static/css/info.css">
  </head>

  <body>
    <section id="header">
      <nav id="main-navbar" class="navbar navbar-expand-md navbar-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="../index.html"><img src="../static/assets/ui-navbar.png" class="navbar-brand" alt=""></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse " id="navbarNav">
            <ul class="navbar-nav mb-auto mt-auto ms-auto">
              <li class="nav-item">
                <a class="nav-link expand" href="info.html">Info</a>
              </li>
              <li class="nav-item">
                <a class="nav-link expand" href="sejarah.html">Sejarah</a>
              </li>
              <li class="nav-item">
                <a class="nav-link expand" href="panduan.html">Panduan Bencana</a>
              </li>
              <li class="nav-item">
                <a class="nav-link expand" href="tim.html">Tim Kami</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <div class="header-title">
        <h1 class="title text-dark">Sejarah Letusan Gunung Merapi</h1>
      </div>
    </section>
    <section id="content">
      <div class="container-fluid content-info">
        <img src="../static/assets/sejarah-img.png" alt="" class="info-img">
        <p class="img-label">Grafik statistik letusan G. Merapi sejak abad ke-19 dan ke-20 (Sumber: vsi.esdm.go.id)
        </p>
        <ul>
          <li><h2>Erupsi Periode Abad XIX</h2></li>
          <p>Memiliki intensitas letusan yang besar, dengan awan panas mencapai sekitar 20 kilometer dari puncak. Letusan pada periode abad XIX terjadi pada tahun 1768, 1822, 1849, dan 1872 yang dianggap sebagai letusan terkuat dalam catatan era geologi modern. Letusan pada tahun ini memiliki skala VEI mencapai 3 hingga 4. Tercatat gunung Merapi erupsi sebanyak lebih dari 80 kali dengan rata-rata satu kali erupsi setiap 4 tahun. Pada tahun 1807 hingga 1822 letusan yang terjadi berupa asap hitam kelabu dengan bara sinar api dan aliran lava. Pada 24 April 1871 letusan yang terjadi menyebabkan hujan abu vulkanik di Bukittinggi.
          </p>
          <li><h2>Erupsi Periode Abad XX</h2></li>
          <p>Pada periode ini erupsi gunung merapi memiliki intensitas yang lebih kecil dari abad ke-XIX namun dengan frekuensi yang lebih sering.  Diperkirakan jumlah letusan yang terjadi pada periode abad ini terjadi sekitar 28 kali dan yang terbesar terjadi pada tahun 1931. Secara umum letusan yang terjadi pada periode ini berupa abu kelabu beserta bara api dengan lontaran material pijar dari puncak dan juga terdapat suara gemuruh. Pada rentang tahun 1973 hingga 2018, manifestasi yang dihasilkan berupa berupa tembusan solfatara atau fumarola dengan pusat aktivitas letusan berada di kawah Verbeek.
          </p>
        </ul>

      </div>
    </section>
    <footer id="footer">
      <div class="logo">
        <img src="../static/assets/ui-logo.svg" alt="" class="footer-logo">
      </div>
      <ul class="list-inline">
        <button class="btn footer-btn" type="button" role="button" onclick="location.href='info.html';">Info</button>
        <p class="list-inline-item"> |</p>
        <button class="btn footer-btn" type="button" role="button" onclick="location.href='sejarah.html';">Sejarah</button>
        <p class="list-inline-item"> |</p>
        <button class="btn footer-btn" type="button" role="button" onclick="location.href='panduan.html';">Panduan Bencana</button>
        <p class="list-inline-item"> |</p>
        <button class="btn footer-btn" type="button" role="button" onclick="location.href='tim.html';">Tim Kami</button>
      </ul>
      <hr>

      <p style="margin-bottom:10px;">© FMIPA Universitas Indonesia 2021</p>

    </footer>

  </body>

</html>
